# Socket file for Parking App
# Place this file at: /etc/systemd/system/parking-app.socket

[Unit]
Description=Parking in a Pinch gunicorn socket

[Socket]
ListenStream=/run/parking-app.sock
SocketUser=www-data
SocketMode=660

[Install]
WantedBy=sockets.target